<?xml version="1.0" encoding="utf-8" ?>
<suite name="接口测试suit" parallel="false">
    <test name="接口测试test">
        <!--<packages>-->
        <!--<package name="com.testproj.Demo"/>-->
        <!--</packages>-->
        <classes>
            <class name="demo1TestCase"></class>
            <class name="GetDateDemoTestCase"></class>
        </classes>
    </test>
</suite>